body {
    font-family: "Segoe UI", "Roboto", sans-serif;
}

.controls {
    list-style-type: none;
    font-size: 20px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.controls li {
    padding: 15px 40px;
    transition: all 0.2s linear;
    cursor: pointer;
    user-select: none;
}

.controls li:hover {
    background-color: lightgrey;
}

.stats {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    position: absolute;
    z-index: 1000;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.stats ul {
    padding: 5px;
    margin-top: 0px;
    list-style-type: none;
    font-size: 20px;
}

.stats span:first-child {
    margin-right: 40px;
}

details {
    font-size: 30px;
    cursor: pointer;
}
