body {
    font-family: "Segoe UI", "Roboto", sans-serif;
}

header {
}

ul {
    list-style-type: none;
    font-size: 20px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
}

li {
    padding: 15px 40px;
    transition: all 0.2s linear;
    cursor: pointer;
    user-select: none;
}

li:hover {
    background-color: lightgrey;
}

.stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.stats span {
    font-size: 30px;
    font-weight: bold;
}

.stats span:first-child {
    margin-right: 40px;
}

details {
    text-decoration: underline;
}
